<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ArrSer</servlet-name>
        <servlet-class>ArrSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSer</servlet-name>
        <servlet-class>StudentSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSer</servlet-name>
        <servlet-class>UpdateSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSer</servlet-name>
        <servlet-class>DeleteSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSer</servlet-name>
        <servlet-class>AdminSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSer</servlet-name>
        <servlet-class>LogoutSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieSer</servlet-name>
        <servlet-class>CookieSer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArrSer</servlet-name>
        <url-pattern>/ArrSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSer</servlet-name>
        <url-pattern>/StudentSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSer</servlet-name>
        <url-pattern>/UpdateSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSer</servlet-name>
        <url-pattern>/DeleteSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSer</servlet-name>
        <url-pattern>/AdminSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSer</servlet-name>
        <url-pattern>/LogoutSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieSer</servlet-name>
        <url-pattern>/CookieSer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
